.weekend{
  background-color:#ffff00;
}

.weekdays{
  background-color:#b3ffb3;
  width:20px; height:20px;
}

.holiday{
  background-color:#ff9933;
  width:20px; height:20px;
}

.invalid{
  background-color:#c6c9ce;
  width:20px; height:20px;
}
